select {
         
    background-color: rgb(0, 0, 0);
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: black;
    
}
select:hover {
    color: rgb(156, 228, 174); 
  }

  select option {
  
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);
    padding: 15px 30px; 
    margin: 5px 2;
  }
  
  select option:hover {

    background-color: rgb(0, 123, 255); 
    color: rgb(156, 228, 174); 
  }
  
  