

.movie-image {
  width: 100%; 
  max-width: 400px; 
  height: auto; 
}

.movie-details-container {
  text-align: justify; 
}

.movie-details-container p {
  text-align: left; 
  display: inline-block; 
}
