/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

#root .movie-list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cuatro columnas de igual tamaño */
  gap: 10px; /* Espacio entre las imágenes */
  list-style: none; /* Quita los estilos de la lista */
  padding: 40; /* Quita el relleno de la lista */
}


#root .movie-list li {
  width: 100%; /* Ocupa todo el ancho de su contenedor */
}

#root .movie-list img {
  width: 100%; /* Ocupa todo el ancho de su contenedor */
  height: 400px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Mantiene la proporción de aspecto y corta el exceso */
}


body {
    font-family: "Poppins";
    background-color: black;
    color: white; 
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
